@media (min-width: 768px) {
    .insertBody {
        margin: 0 auto;
        width: 375px;
        background-color: #eee8e0;
    }
}
.insertBody {
    background-color: #eee8e0;
    overflow: hidden;
    position: relative;
}

/*첫번쨰 페이지 요소 위치 설정*/
#purple1 {
    display: block;
    position: absolute;
    left: 20%;
    top: 5%;
}
#ivory1 {
    position: absolute;
    left: 10%;
    top: 10%;
}
#pink1 {
    position: absolute;
    right: 10%;
    top: 8%;
}
#title {
    position: absolute;
    top: 13%;
}
#pink2 {
    position: absolute;
    left: 8%;
    top: 34%;
}
#purple2 {
    position: absolute;
    right: 8%;
    top: 32%;
}
#obj {
    margin-top: 80%;
    margin-right: 5%;
    width: 445px;
    z-index: 1;
}
#roundback {
    position: absolute;
    top: 45%;
    z-index: 0;
}
/*두번째 페이지 요소 위치 설정*/
.insertBody:nth-child(2) {
    background-color: #dccae0;
}
#title2 {
    position: absolute;
    top: 10%;
}
#purple3 {
    position: absolute;
    top: 33%;
    right: 10%;
    z-index: 1;
}
#pink3 {
    position: absolute;
    top: 33%;
    left: 10%;
}
#ivory3 {
    position: absolute;
    top: 40%;
    right: 18%;
    z-index: 1;
}
.content {
    position: relative;
    margin-top: 200px;
    width: 100%;
    height: 500px;
}
#take1 {
    position: absolute;
    top: 20%;
    left: 7%;
    z-index: 1;
}
#take2 {
    position: absolute;
    top: 35%;
    right: 7%;
    z-index: 1;
}
#take3 {
    position: absolute;
    top: 55%;
    left: 7%;
    z-index: 1;
}
#text {
    position: absolute;
    top: 85%;
}
/*구름 두둥실 효과*/
.cloud div {
    border-radius: 50%;
}
#cloud1 {
    width: 70%;
    height: 200px;
    position: absolute;
    top: 35%;
    background-color: #ca95c2;
    z-index: 0;
    height: 500px;
    /* #7E6FDD #4F46AF #a094e4*/
    animation: up 1s linear;
}
#cloud2 {
    width: 80%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: -10px;
    background-color: #ca95c2;
    z-index: 0;
    height: 400px;
    animation: up 1s linear;
}
#cloud3 {
    width: 90%;
    height: 200px;
    position: absolute;
    top: 65%;
    left: -10px;
    background-color: #bd85b9;
    z-index: 0;
    height: 400px;
    animation: up 1s ease-in-out;
    animation-delay: 1s;
}
#cloud4 {
    width: 80%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 55%;
    background-color: #bd85b9;
    z-index: 0;
    height: 400px;
    animation: up 1s ease-in-out;
    animation-delay: 1s;
}

/*애니메이션 설정*/
@keyframes up {
    0% {
        transform: translate(0%, 5%);
        opacity: 85%;
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 100%;
    }
}
